<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
  </head>

  <body>
    <main class="container">
      <%= render "application/flashes" %>
      <%= yield %>
    </main>

    <%= render "application/javascript" %>
  </body>
</html>
